{{ attach_library('yelen_faq/faq_yelen_librairies') }}

<div class="bloc-offre">
  <h2 class="orange-yelen-title">Foire aux Questions</h2>
</div>

<h3 class="mb-2">Vos Questions sur les réseaux</h3>
<p>Choisissez la catégorie qui vous concerne à la maison, en déplacement, les équipements ou le glossaire </p>

<div class="container">
  <div class="row slicker mb-3">
    {% if content.parents is defined and content.parents|length > 0 %}
      {% for parent in content.parents %}
        {% if parent.parent == 0 %}
          {# Affichage des termes existants #}
          <div class="col-lg-4 col-md-6 col-sm-6 orange-color-link me-3">
            <a href="{{ path('faq-page-criteria', {'category': parent.name}) }}">
              <img src="{{ parent.image }}" alt="" srcset="" class="img-fluid mes-images"
                   style="width: 350px; height: 200px">
              <div class="d-flex flex-column">
                <strong>{{ parent.name | capitalize }}</strong>
                <p class="">{{ parent.description|raw }}</p>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% if content.category or content.sous_category %}
  <div class="row pt-3">
    <div class="col-3">
      {% if content.childOrdered is defined and content.childOrdered|length > 0 %}
        <div class="card">
          <div class="card-body">
            <h5 class="text-primary mb-3 fs-2">Catégories</h5>
          {% for parent in content.childOrdered %}
            <div class="orange-color-link mb-2">
              <a class="text-decoration-none fs-4 fw-bold{{ parent.name == content.category ? ' text-primary' : '' }}" href="{{ path('faq-page-criteria', {'category':  parent.name}) }}">
                <span>{{ parent.name| capitalize }}</span>
              </a>
            </div>
            {% if parent.children is defined and content.childOrdered|length > 0 %}
              {% for child in parent.children %}
                <div class="orange-color-link ms-2 mb-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="faqSubCategory{{ loop.index + 1 }}" {{ content.sous_category and child.name == content.sous_category ? 'checked' : '' }}>
                    <label class="form-check-label" for="faqSubCategory{{ loop.index + 1 }}">
                      <a class="text-decoration-none{{ content.sous_category and child.name == content.sous_category ? ' text-primary' : '' }}"
                         href="{{ path('faq-page-criteria', {'category':parent.name ,'sousCategory':  child.name}) }}">
                        {{ child.name| capitalize }}
                      </a>
                    </label>
                  </div>

                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
      {% else %}
        <p>Aucune catégorie disponible.</p>
      {% endif %}
    </div>
    <div class="col-9">
      {% if content.faqs|length>0 %}
        <div class="accordion" id="faq-homepage">
          {% for faq in content.faqs %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button{{ loop.first ? '' : ' collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#item{{ loop.index + 1 }}">
                  {{ faq.title }}
                </button>
              </h2>
              <div id="item{{ loop.index + 1 }}" class="accordion-collapse collapse{{ loop.first ? ' show' : '' }}">
                <div class="accordion-body">
                  {{ faq.reponse|raw }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="h-100 d-flex flex-column align-items-center justify-content-center">
          <div class="text-center">
          <i class="fa-regular fa-file fs--4 text-primary">&nbsp;</i>
          <p class="fw-bold fs-3 mt-4">
          {% if content.category and content.sous_category %}
            Aucun contenu trouvé pour la catégorie <strong class="text-primary">"{{ content.category }} -> {{ content.sous_category }}"</strong>
          {% else %}
            Aucun contenu trouvé pour la catégorie <strong class="text-primary">"{{ content.category }}"</strong>
          {% endif %}
          </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
