{% import '@yelen_theme/macros/yelen-section-title.twig' as title %}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
{%
  set titleClasses = ['orange-yelen-title', 'yelen-page-title']

 %}
<div{{ attributes.addClass(classes) }}>
  {% if label %}
    {#<h3{{ title_attributes.addClass(titleClasses) }}>{{ label }}</h3>#}
    {{ title.render(label, 'h3', title_attributes.addClass(titleClasses)) }}
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
