{#
/**
 * @ingroup themeable
 */
#}
<div class="most-popular-terms__list">
  {% for keyword, num in stats %}
  <a class="term" href="{{ path }}?{{ param_name }}={{ keyword }}">
    <div class="">
      <span >
        {{ keyword }} {#  ({{ num }}) #}
      </span>
    </div>
  </a>
  {% endfor %}
</div>
