{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if orange_yelen_search_term %}
<h3 class="orange-yelen-title">{{ 'Résultats de recherche pour:' | t}} <strong class="text-primary">"{{ orange_yelen_search_term }}"</strong></h3>
{% endif %}
<section class="yelen-search-result__list">
  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
      'search-result-item'
    ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-center">
            <div class="media">
              {% set image_path = row.content['#row']._entity.field_image ? row.content['#row']._entity.field_image[0].entity.uri.value : 'modules/orange_yelen_search' ~ '/img/search-img.png' %}
              {% set image_url = file_url(image_path) %}
              {% set image_alt = row.content['#row']._entity.field_image ? row.content['#row']._entity.field_image[0].alt : 'Orange Search' %}
              <img
                class="img-fluid"
                src="{{ image_url }}"
                alt="{{ image_alt }}"
              >
            </div>
            <div class="text">
              <h5 class="card-title">
                <a href="{{ row.content['#row'].search_api_url[0] }}"> {{ row.content['#row'].title[0] }}</a>
              </h5>
              {% if(row.content['#row'].body) %}
              {{row.content['#row'].body[0] | raw | t}}
              {% endif %}
            </div>
            <div class="action">
              <a class="btn btn-primary" href={{ row.content['#row'].search_api_url[0] }}>{{ 'Voir plus' | t }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

