{% import '@yelen_theme/macros/yelen-section-title.twig' as section_title %}
{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% set view_title = view.getTitle() ?? title ?? 'Applications' %}
{% if view_title %}
  {{ section_title.render(view_title, 'h2') }}
{% endif %}
<div class="row">

{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
    'col-lg-5','my-card'
  ]
  %}
  {% set image_entity = row['content']['#row']._entity.field_image %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="row">
      <div class="bloc-img">
        {% if image_entity.entity.uri != null %}
          {% set image = file_url(image_entity.entity.uri.value) %}
          <img class="petite-icon img-fluid" src="{{ image }}"  alt="">
        {% else %}
          <img class="petite-icon img-fluid" src="/{{ directory }}/assets/images/internet-et-fibre-newAccueil.png"  alt="">
        {% endif %}
      </div>
      <div class="bloc-txt">
        <a href="{{ row['content']['#row']._entity.field_lien.value[0]['uri'] }}" target="_blank" class="text-decoration-none hover-orange">
            <h5 class="">{{row['content']['#row']._entity.title.value }}</h5>
            <p class="">{{ row['content']['#row']._entity.field_lien.value[0]['title'] }}</p>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
