{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<section class="yelen-chat-messages">
  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
    ]
    %}
    {{ dump(row.content["#row"]._entity) }}
    {% set user_small_image = _yelen_get_user_avatar(row.content["#row"]._entity.user)['user_small_image'] %}
    {% set user_avatar = user_small_image|length == 0 ? '/' ~ directory ~ '/assets/images/user.png' : user_small_image %}
    {% set author = row.content["#row"]._entity.user %}
    <div{{ row.attributes.addClass(row_classes) }}>
      <article class="message-item">
        <div class="inner-content">
          <div class="comment-header">
            {% if user_avatar %}
              <div class="comment-avatar">
                <img src="{{ user_avatar }}" width="36" height="36" class="img-fluid img-thumbnail rounded-circle" role="img" alt="User" loading="lazy">
              </div>
            {% endif %}

            <div class="message-meta">
              <div class="message-author">{{ author }}</div>

            </div>
          </div>
          {{- row.content -}}
        </div>
      </article>
    </div>
  {% endfor %}
</section>
{% if(conversation_status == "active") %}
<div class="reply-message-form">
  {{ reply_message_form }}
</div>
{% else %}
<div class="alert alert-danger justify-content-center my-3">Vous ne pouvez plus répondre à cette conversation car elle a été clôturée par</div>
{% endif %}
