{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}


<div class="slider">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
       data-bs-interval="10000">
    <div class="carousel-indicators">
      {% for row in rows %}
        <button type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="{{ loop.index - 1 }}" {% if loop.index == 1 %}class="active"{% endif %}
                aria-current="true" aria-label="Slide {{ loop.index }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner bg-dark text-white">
      {% for row in rows %}
        {% set row_classes = [
          default_row_class ? 'views-row',
        ] %}

        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
          <div class="row">

            {% if row.content['field_titre']["#object"] != null and row.content['body']["#object"] != null %}
            <div class="col-md-6">
              <div class="promo-vacances p-4 ">
                {% if row.content['field_titre']["#object"] !=null %}
                <h2>{{ row.content['field_titre']["#object"].field_titre.value }}</h2>
                {% endif %}

                {% if row.content['body']["#object"] !=null %}
                  {{ row.content['body']["#object"].body.value|raw }}
                {% endif %}
                <div>
                  {% if row.content['field_lien']["#object"] != null %}
                    {% set uri = row.content['field_lien']["#object"].field_lien.value[0]['uri'] %}

                    {% set linkTitle = row.content['field_lien']["#object"].field_lien.value[0]['title'] %}
                    <a class="btn btn-primary bouton-infos" href="{{ uri }}">{{ linkTitle }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-6 back-texte-carousel">
              <div class="p-4">
                {{ row.content['field_image'] }}
              </div>
            </div>
            {% else %}
              <div class="col-md-12 back-texte-carousel">
                <div class="p-4 image-full-caroussel">
                  {{ row.content['field_image'] }}
                </div>
              </div>
              {% endif %}
          </div>
        </div>

      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {# - dump(row.content)   -#}
</div>
