{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<section class="yelen-chat-messages">
  {% if(conversation_status == "active") %}
  <div class="d-flex-justify-content-end">
    {{ close_conversation_form }}
  </div>
  {% endif %}
  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
    ]
    %}
    {% set user_avatar = row.content["#row"].user_avatar|length == 0 ? '/' ~ directory ~ '/assets/images/user.png' : row.content["#row"].user_avatar %}
    <div{{ row.attributes.addClass(row_classes) }}>
      <article class="message-item">
        <div class="inner-content d-flex align-items-start gap-2">
            {% if user_avatar %}
              <div class="user-avatar">
                <img src="{{ user_avatar }}" width="36" height="36" class="img-fluid img-thumbnail rounded-circle" role="img" alt="User" loading="lazy">
              </div>
            {% endif %}

            <div class="message-meta">
              <div class="message-author text-primary">{{ row.content["#row"].username }}</div>
              <span class="text-black-50 fw-medium sended_at d-block mt-1">{{ row.content["#row"].sended_at }}</span>
              <div class="message-content mt-2">{{ row.content["#row"]._entity.message.value|raw }}</div>
            </div>
        </div>
      </article>
    </div>
  {% endfor %}
</section>
{% if(conversation_status == "active") %}
  <div class="reply-message-form">
    {{ reply_message_form }}
  </div>
{% else %}
  <div class="alert alert-danger justify-content-center my-3">Vous ne pouvez plus répondre à cette conversation car elle a été clôturée par {{ conversation_closed_by }}.</div>
{% endif %}
